<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style.css">

    <title>-LUG Hacktoberfest 2021-</title>
    
    <!-- style -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <style>
        .sosmed{
            margin-top: 100px;
            
        }
    </style>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="../index.html" id="home">Home</a></li>
                <li><a href="../fitur-hotel/index.html" id="hotel">Hotel</a></li>
                <li><a href="about.html" class="active" id="about">About</a></li>
            </ul>
        </nav>
    </header>

    <div align="center" class="sosmed">

        <b><i><a href="https://www.instagram.com/lug_surabaya/">instagram_Lug-Surabaya</a></i></b> <hr>
        <b><i><a href="https://lug-surabaya.com/" target="blank">Website_Lug-Surabaya</a></i></b>

    </div>
    
</body>
</html>